<nav class="navbar navbar-dark bg-primary">
  <span class="navbar-brand" style="color: #fff;"><%= pageTitle %></span>
  <ul class="nav navbar-header navbar-right" style="display: inline;">
    <li style="color: #fff;">
      Welcome, <%= userName %>
    </li>
    <li>
      <a style="color:white;padding-top:15px;" href="/band/logout">logout</a>
    </li>
  </ul>
</nav>
